* {
	background-image: none;
	box-shadow: none;
}

window {
  font-family: JetBrainsMono;
	background-color: rgba(30, 30, 46, 0.60);
}

button {
  margin: 8px;
	border-radius: 4;
	border-color: #89b4fa;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 32px;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}    

#lock {
   background-image: url("/home/onur/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/onur/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/onur/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/onur/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/onur/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/onur/.config/wlogout/icons/reboot.svg");
}
